
frontColor = lightblue
hoverColor = blue
dragBorderColor = purple

borderThickness = 2px

.front-panel 
	background-color frontColor

#home  
	@extend .front-panel
	margin-top 10em
	margin-left auto
	margin-right auto
	padding 3em
	max-width 20em 

.participant 
	fill orange

svg
	margin 30px
	border 2px dashed lightblue
	border-radius 10px

.participant-expenses 
	float right

.drag-over 
	background-color darken(frontColor, 30%)
	border borderThickness dashed dragBorderColor

.edit
	display none 

.editing  
	.edit
		display block  
	.hide-on-edit
		display none !important 

