
frontColor = lightblue
hoverColor = blue
dragBorderColor = purple

borderThickness = 2px

.front-panel 
	background-color frontColor

#home  
	@extends .front-panel
	margin-top 10em
	margin-left auto
	margin-right auto
	padding 3em
	max-width 20em 
	
.participant-group
	border 2px dashed lightblue
	border-radius 10px
	position relative

.participant
	position absolute
	min-width 50px
	min-height 50px
	background-color blue

.drag-over
	@extends .participant
	rect
		stroke red

.participant-expenses
	float right

.debt
	@extends .front-panel
	min-height 2em
	width 100%

.edit
	display none 

.editing  
	.edit
		display block  
	.hide-on-edit
		display none !important 

